---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Implications" sideBarActiveItemID="implications">
    <div>
        <div class="mt-6 text-3xl w-full font-bold mb-5">Implications</div>
    </div>

    <div class="overflow-x-auto">
        <table class="table table-lg">
            <tbody>
            <tr>
                <td class="text-lg"><strong>LigCOM</strong></td>
                <td class="text-lg">Former member of the communications team at LIG, where we created the LIG brochure, communication materials, photo reports, newsletters, and more.</td>
            </tr>
            <tr>
                <td class="text-lg"><strong>QVT</strong></td>
                <td class="text-lg">Former member of the "Quality of Life at Work" group at LIG, where I contributed to implementing initiatives aimed at supporting PhD students and enhancing the working environment in the lab. I also created a "Welcome PhD Booklet" for new PhD students.<br/>
                    <button class="btn btn-outline btn-accent btn-sm mt-2 mr-2"><a target="_blank" href="https://cloud.univ-grenoble-alpes.fr/s/GoaTEmiCH76fiwt">Booklet EN</a></button>
                    <button class="btn btn-outline btn-success btn-sm mt-2 mr-2"><a target="_blank" href="https://cloud.univ-grenoble-alpes.fr/s/BSL8rosXEnFifin">Booklet FR</a></button>
                </td>
            </tr>
            <tr>
                <td class="text-lg"><strong>RJCP</strong></td>
                <td class="text-lg">Member of the organizing committee for the 2023 edition of the RJCP (Rencontre des Jeunes Chercheurs en Parole) in Grenoble.</td>
            </tr>
            </tbody>
        </table>
    </div>
</BaseLayout>