---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Implications" sideBarActiveItemID="implications">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Implications</div>
    </div>

    <div class="text-xl py-1 font-bold">Since 2022</div><br/>

    <div class="overflow-x-auto">
        <table class="table table-lg">
            <tbody>
            <tr>
                <td><strong>LigCOM</strong></td>
                <td>Member of the communication group at LIG. We create the LIG brochure, communication materials, photo reports, newsletters, and more.</td>
            </tr>
            <tr>
                <td><strong>QVT</strong></td>
                <td>Member of the 'Quality of Life at Work' group at LIG. I work on implementing measures to support PhD students and improve the working environment in the lab. I created a 'Welcome PhD Booklet' for new PhD students.<br/>
                    <button class="btn btn-outline btn-accent btn-sm mt-2 mr-2"><a target="_blank" href="https://cloud.univ-grenoble-alpes.fr/s/GoaTEmiCH76fiwt">Booklet EN</a></button>
                    <button class="btn btn-outline btn-success btn-sm mt-2 mr-2"><a target="_blank" href="https://cloud.univ-grenoble-alpes.fr/s/BSL8rosXEnFifin">Booklet FR</a></button>
                </td>
            </tr>
            <tr>
                <td><strong>RJCP</strong></td>
                <td>Member of the <a href="https://rjcp-2023.sciencesconf.org/" target="_blank" class="link-hover link-success">RJCP (Rencontre des Jeunes Chercheurs en Parole)</a> organizing committee for the 2023 edition in Grenoble.</td>
            </tr>
            </tbody>
        </table>
    </div>
</BaseLayout>