---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Research projects</div>
  </div>

  <div class="card card-side bg-base-100 shadow-xl">
    <figure><img src="/propicto.png" alt="propicto"/></figure>
    <div class="card-body">
      <h2 class="card-title">PROPICTO - PRojection du langage Oral vers des unités PICTOgraphiques</h2>
      <p>My Ph.D. is part of the <a class="link-secondary link-hover" href="https://propicto.unige.ch/" target="_blank">PROPICTO</a> project, whose goal is to create Speech-to-Pictograph translation systems enabling the conversion of French speech input into pictograph sequences, thus enhancing communication access for non-French speakers (allophones) or people with cognitive impairments. A full description of the project can be found <a class="link-secondary link-hover" href="https://anr.fr/Projet-ANR-20-CE93-0005" target="_blank">here</a>.</p>
    </div>
  </div>
  <br/>
  <div class="card card-side bg-base-100 shadow-xl">
    <figure><img src="/cream.png" alt="cream"/></figure>
    <div class="card-body">
      <h2 class="card-title">CREAM - documentation de langues CREoles Assistée par la Machine</h2>
      <p>I participated in the CREAM project, which aims to propose innovative methods for language documentation and resource creation (machine-learning methods, query-by-example), focusing on Creole languages. My work, entitled 'Automatic Speech Recognition and Query By Example for Creole Languages Documentation' was published at ACL 2022. A full description of the project can be found <a class="link-secondary link-hover" href="https://sites.google.com/view/creamproject/home" target="_blank">here.</a>
      </p>
    </div>
  </div>
  <br/><br/>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Workshop</div>
  </div>

  <div class="card card-side bg-base-100 shadow-xl">
    <figure><img src="/jsalt.png" alt="jsalt"/></figure>
    <div class="card-body">
      <h2 class="card-title">2022 Eighth Frederick Jelinek Memorial Summer Workshop (JSALT) - Johns Hopkins University (Baltimore, USA)</h2>
      <p>I participated in the <a class="link-secondary link-hover" href="https://www.clsp.jhu.edu/2022-eighth-frederick-jelinek-memorial-summer-workshop/" target="_blank">JSALT workshop</a> and was part of the team 'Multilingual Speech-to-Speech Translation for Under-Resourced Languages' via the ESPERANTO consortium (Exchanges for SPEech ReseArch aNd TechnOlogies, Horizon 2020). For six weeks, I had the opportunity to be part of a major workshop on speech and language engineering, working with international researchers. I worked specifically on pre-trained LMs for low-resource machine translation.
      </p>
    </div>
  </div>

  <br/><br/><br/>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Supervising</div>
  </div>

  <div class="overflow-x-auto">
    <table class="table table-lg">
      <tbody>
      <tr>
        <td><strong>March - Sept. 2023</strong></td>
        <td>Master's student Chloé Dion</td>
      </tr>
      <tr>
        <td><strong>April - June 2024</strong></td>
        <td>BUT student Enzo Vigne</td>
      </tr>
      </tbody>
    </table>
  </div>

  <br/><br/>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Scientific presentation</div>
  </div>

  <div class="overflow-x-auto">
    <table class="table table-lg">
      <tbody>
      <tr>
        <td><strong>May 2022</strong></td>
        <td>Presentation of my Ph.D. subject at the Pint of Science Festival 2022: 'From Speech to Pictograms.' <br>Pint of Science is an international science festival aimed at disseminating science outside the laboratory walls, in cafés or bars, to a non-expert audience.</td>
      </tr>
      <tr>
        <td><strong>June 2023</strong></td>
        <td>Presentation of my Ph.D at the "Jeunes Chercheurs en Parole" group seminars. The talk is available on <a class="link-secondary link-hover" target="_blank" href="https://www.youtube.com/watch?v=SCVzv_Mc4wg">YouTube</a>.
        </td>
      </tr>
      <tr>
        <td><strong>March 2024</strong></td>
        <td>I gave a talk about my work at the Laboratoire d’Informatique de l’Université du Mans (LIUM) seminar on "Automatic Speech-to-Pictogram Translation to Facilitate Communication for People with Language Impairments".
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/><br/>

</BaseLayout>
