---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Research projects</div>
  </div>

  <div class="card card-side bg-base-100 shadow-xl">
    <figure><img src="/propicto.png" alt="propicto"/></figure>
    <div class="card-body">
      <h2 class="card-title">PROPICTO - PRojection du langage Oral vers des unités PICTOgraphiques</h2>
      <p>My Ph.D is part of the <a class="link-secondary" href="https://propicto.unige.ch/" target="_blank">PROPICTO</a> project, whose goal is to create Speech-to-Pictograph translation systems enabling a conversion from a French speech input into pictograph sequences, and thus to enhance communication access for non-French speakers (allophones) or people with cognitive impairments.
        A full description of the project can be found <a class="link-secondary" href="https://anr.fr/Projet-ANR-20-CE93-0005" target="_blank">here.</a></p>
    </div>
  </div>
  <br/>
  <div class="divider my-0"></div>
  <div class="card card-side bg-base-100 shadow-xl">
    <figure><img src="/cream.png" alt="cream"/></figure>
    <div class="card-body">
      <h2 class="card-title">CREAM - documentation de langues CREoles Assistée par la Machine</h2>
      <p>I participated in the CREAM project, which aims to propose innovative methods of language documentation and resource creation (machine-learning methods, query-by-example), focusing on Creole languages.
        My work entitled "Automatic Speech Recognition and Query By Example for Creole Languages Documentation" has been published at ACL2022.
        A full description of the project can be found <a class="link-secondary" href="https://sites.google.com/view/creamproject/home" target="_blank">here.</a>
      </p>
    </div>
  </div>
  <br/>

  <br/>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Workshop</div>
  </div>

  <div class="card card-side bg-base-100 shadow-xl">
    <figure><img src="/jsalt.png" alt="jsalt"/></figure>
    <div class="card-body">
      <h2 class="card-title">2022 Eighth Frederick Jelinek Memorial Summer Workshop (JSALT) - Johns Hopkins University (Baltimore, USA)</h2>
      <p>I participated in the <a class="link-secondary" href="https://www.clsp.jhu.edu/2022-eighth-frederick-jelinek-memorial-summer-workshop/">JSALT workshop</a> and was part of the team "Multi-lingual Speech to Speech Translation for Under-Resourced Languages" via the ESPERANTO consortium (Exchanges for SPEech ReseArch aNd TechnOlogies, Horizon 2020).
        During 6 weeks, I had the opportunity to be part of a major workshop on speech and language engineering, working with international researchers.
        I worked specifically on pre-trained LMs for low-resource machine translation.
      </p>
    </div>
  </div>

  <br/><br/>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Supervising</div>
  </div>

  <p>Master's student: Chloé Dion</p>
  <br/><br/>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Scientific presentation</div>
  </div>

  <ul class="list-disc mx-6 mb-8">
    <li>Presentation of my Ph.D subject in the Pint Of Science Festival 2022: "From speech to pictograms". Pint of Science is an international science festival aimed at disseminating science outside the laboratory walls, in a café or bar, to a non-expert public. </p>
    </li>
  <li>
    Presentation of my thesis at the "Jeunes Chercheurs en Parole" group seminars, available on <a class="link-secondary" href="https://www.youtube.com/watch?v=SCVzv_Mc4wg">YouTube</a>.
  </li>
  </ul>

</BaseLayout>
