---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>

  <div class="text-xl py-1 font-bold">2023</div><br/>

  <ul class="list-disc mx-6">
    <li><text class="font-bold">Cécile Macaire</text>, Emmanuelle Esperança-Rodier, Benjamin Lecouteux, and Didier Schwab. 2023. <a class="link-secondary" target="_blank" href="https://aclanthology.org/2023.jeptalnrecital-demos.4">Voice2Picto : un système de traduction automatique de la parole vers des pictogrammes</a>. In <text class="italic">Actes de CORIA-TALN 2023. Actes de la 30e Conférence sur le Traitement Automatique des Langues Naturelles (TALN), volume 5 : démonstrations</text>, pages 10–13, Paris, France. ATALA.</li>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://aclanthology.org/2023.jeptalnrecital-demos.4.pdf">PDF</a></button>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="/publications/poster_voice2picto.pdf">Poster</a></button>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4"><a target="_blank" href="https://github.com/macairececile/Voice2Picto">Code</a></button>
    <br/>
    <li>
      <text class="font-bold">Cécile Macaire</text>, Jordan Arrigo, Chloé Dion, Claire Lemaire, Emmanuelle Esperança-Rodier, Benjamin Lecouteux, and Didier Schwab. 2023. <a class="link-secondary" target="_blank" href="https://aclanthology.org/2023.jeptalnrecital-demos.3">Plateformes pour la création de données en pictogrammes</a>. In <text class="italic">Actes de CORIA-TALN 2023. Actes de la 30e Conférence sur le Traitement Automatique des Langues Naturelles (TALN), volume 5 : démonstrations</text>, pages 6–9, Paris, France. ATALA.
    </li>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://aclanthology.org/2023.jeptalnrecital-demos.3.pdf">PDF</a></button>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="/publications/poster_plateformes.pdf">Poster</a></button>
    <br/>
    <li>Lucía Ormaechea, Pierrette Bouillon, Maximin Coavoux, Emmanuelle Esperança-Rodier, Johanna Gerlach, Jerôme Goulian, Benjamin Lecouteux, <text class="font-bold">Cécile Macaire</text>, Jonathan Mutal, Magali Norré, Adrien Pupier, Didier Schwab. (2023, June). <a class="link-secondary" target="_blank" href="https://aclanthology.org/2023.eamt-1.60/">PROPICTO: Developing Speech-to-Pictograph Translation Systems to Enhance Communication Accessibility</a>. In <text class="italic">Proceedings of the 24th Annual Conference of the European Association for Machine Translation</text>  pages 515–516, Tampere, Finland. European Association for Machine Translation.</li>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://aclanthology.org/2023.eamt-1.60.pdf">PDF</a></button>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="/publications/eamt2023.pdf">Poster</a></button>
    <br/>
    <li>Santosh Kesiraju, Marek Sarvaš, Tomáš Pavliček, <text class="font-bold">Cécile Macaire</text>, Alejandro Ciuba (2023) <a class="link-secondary" target="_blank" href="https://www.isca-speech.org/archive/interspeech_2023/kesiraju23_interspeech.html">Strategies for Improving Low Resource Speech to Text Translation Relying on Pre-trained ASR Models.</a> Proc. INTERSPEECH 2023, 2148-2152, doi: 10.21437/Interspeech.2023-2506</li>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://arxiv.org/pdf/2306.00208.pdf">PDF</a></button>
  </ul>
  <br/>
  <div class="text-xl py-1 font-bold">2022</div><br/>
  <ul class="list-disc mx-6">
    <li><text class="font-bold">Cécile Macaire</text>, Didier Schwab, Benjamin Lecouteux, and Emmanuel Schang. 2022. <a class="link-secondary" target="_blank" href="https://aclanthology.org/2022.findings-acl.197">Automatic Speech Recognition and Query By Example for Creole Languages Documentation</a>. In <text class="italic">Findings of the Association for Computational Linguistics: ACL 2022</text>, pages 2512–2520, Dublin, Ireland. Association for Computational Linguistics.</li>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://aclanthology.org/2022.findings-acl.197.pdf">PDF</a></button>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="/publications/poster_ACL.pdf">Poster</a></button>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://aclanthology.org/2022.findings-acl.197.mp4">Video</a></button>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://github.com/macairececile/asr-qbe-creole">Code</a></button>
    <br/>
    <li><text class="font-bold">Cécile Macaire</text>, Lucia Ormaechea-Grijalba, and Adrien Pupier. 2022. <a class="link-secondary" target="_blank" href="https://aclanthology.org/2022.jeptalnrecital-recital.9/">Une chaîne de traitements pour la simplification automatique de la parole et sa traduction automatique vers des pictogrammes (Simplification and automatic translation of speech into pictograms)</a>. In <text class="italic">Actes de la 29e Conférence sur le Traitement Automatique des Langues Naturelles. Volume 2 : 24e Rencontres Etudiants Chercheurs en Informatique pour le TAL (RECITAL)</text>, pages 111–123, Avignon, France. ATALA.
    </li>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://aclanthology.org/2022.jeptalnrecital-recital.9.pdf">PDF</a></button>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="/publications/recital_slides.pdf">Slides</a></button>
    <br/>
    <li>
      Séverine Guillaume, Guillaume Wisniewski, <text class="font-bold">Cécile Macaire</text>, Guillaume Jacques, Alexis Michaud, Benjamin Galliot, Maximin Coavoux, Solange Rossato, Minh-Châu Nguyên, and Maxime Fily. 2022. <a class="link-secondary" target="_blank" href="https://aclanthology.org/2022.computel-1.21/">Fine-tuning pre-trained models for Automatic Speech Recognition, experiments on a fieldwork corpus of Japhug (Trans-Himalayan family)</a>. In <text class="italic">Proceedings of the Fifth Workshop on the Use of Computational Methods in the Study of Endangered Languages</text>, pages 170–178, Dublin, Ireland. Association for Computational Linguistics.
    </li>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://aclanthology.org/2022.computel-1.21.pdf">PDF</a></button>
    <br/>
    <li>Anthony Larcher, Yannick Estève, Mickael Rouvier, Natalia Tomashenko, Jarod Duret, et al.. <a class="link-secondary" target="_blank" href="https://hal-lara.archives-ouvertes.fr/hal-04176910/">Multi-lingual Speech to Speech Translation for Under-Resourced Languages</a>. Le Mans Université. 2022. ⟨hal-04176910⟩</li>
  </ul>
  <br/>
  <div class="text-xl py-1 font-bold">2021</div><br/>
  <ul class="list-disc mx-6 mb-5">
    <li>
      <text class="font-bold">Cécile Macaire</text>, Guillaume Wisniewski, Séverine Guillaume, Benjamin Galliot, Guillaume Jacques, et al.. <a class="link-secondary" target="_blank" href="https://shs.hal.science/halshs-03475443/file/LIFT_reco_final.pdf">Spécialisation de modèles neuronaux pour la transcription phonémique : premiers pas vers la reconnaissance de mots pour les langues rares</a>. Journées scientifiques du Groupement de recherche ”Linguistique informatique, formelle et de terrain” (GDR LIFT), Dec 2021, Grenoble, France.
    </li>
    <br/>
    <li>
      <text class="font-bold">Cécile Macaire</text>. <a class="link-secondary" target="_blank" href="https://hal.science/hal-03429051/file/Macaire2021_RecognizingLexicalUnits.pdf">Recognizing lexical units in low-resource language contexts with supervised and unsupervised neural networks</a>. [Research Report] LACITO (UMR 7107). 2021. ⟨hal-03429051⟩
    </li>
    <br>
    <li>
      <text class="font-bold">Cécile Macaire</text>. <a class="link-secondary" target="_blank" href="https://hal.science/hal-03047146">Alignement temporel entre transcriptions et audio de données de langue japhug</a>. 2èmes journées scientifiques du Groupement de Recherche Linguistique Informatique Formelle et de Terrain (LIFT), Dec 2020, Montrouge (virtuel), France. pp.9-22.
    </li>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://hal.science/hal-03047146/document">PDF</a></button>
    <button class="btn btn-outline btn-success btn-sm mt-2 mb-4 mr-2"><a target="_blank" href="https://github.com/macairececile/alignement_texte_son_japhug">Code</a></button>
  </ul>
  <!--<div class="divider my-0"></div>-->

</BaseLayout>
